div {
border: 1px solid black;
}

    #header{
        background-color: darkslategrey;
        background-image: url(https://cdn.pixabay.com/photo/2016/11/14/02/55/asphalt-1822448_1280.jpg);
		background-repeat: no-repeat;
		background-size: cover;
        text-align: center;
        margin: 20px auto;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px #DE1818, 0 0 5px #DE1818;
        padding: 10px;
    }
    #navBar{
        width: 950px;
        text-align: center;
        margin: 20px auto;
        color: #DE1818;
        font color: #DE1818;
    }
    #text{
        width: 950px;
        text-align: center;
        margin: 25px auto;
        font color: #DE1818;
    }
    #textLeft{
        width: 950px;
        text-align: left;
        margin: 25px auto;
        font color: #DE1818;
    }
    #section{
        width: 950px;
        text-align: center;
        margin: 20px auto;
        padding: 25px;
    }
    #footer{
        background color: black;
        background-image: url(https://preview.ibb.co/i0ULin/Screen_Shot_2018_05_04_at_2_20_37_PM.png);
		background-repeat: no-repeat;
		background-size: cover;
        text-align: center;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px #DE1818, 0 0 5px #DE1818;
        clear: both;
        padding: 5px;
    }
    h1 {
		font color: white;
		font-family: Garamond;
		font-size: 500%;
      }

    h2 {
		font color: #DE1818;
		font-family: Garamond;
		font-size: 130%;
    }
    h3 {
        font color: black;
        font-family: Garamond;
        font-size: 110%;
    }
    h4 {
        font color: "‎#DE1818";
        font-size: 150%;
        font-family: sans-serif;
    }
    h5 {
        font color: black;
        font-family: Garamond;
        font-size: 100%;
    }
    h6 {
        font color: white;
        font-family: Garamond;
        font-size: 100%;
    }
    ul {
    list-style-position: inside;
    }
    ol {
    list-style-position: inside;
    }
